 #mydiv {
  height:100px;
  width:100px;
  background-color:pink;
  border-width:2px;
  border-style:solid;
  border-color:black;
  border:2px solid black;
  border-radius:00px;
   padding:25px;
   margin:25px;
  text-align:center;
 }

h1 {
  height:50px;
  width:200px;
  background-color:skyblue;  
  border-width:2px;
  border-style:solid;
  border-color:navy;
  border:2px solid navy;
  text-align:center;
  }


.box {
  height:100px;
  width:100px;
  margin:25px;
  padding:25px;
  display:inline-block;
  }

#box1 {
  background-color:red;
}

#box2 {
  background-color:blue;
  visibility:hidden;
}
#box3 {
  background-color:rgba(0,255,0,25);
  }

h1 {
  color:rgba(255,0,0,0.5);
}
